
body {
    background-color: #bbbbbb !important;
}

a {
    color: #1c3380 !important;
}

#textarea {
    width: 100%;
    margin: 0px;
}


#sayThis {
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    font-size: 200%;
    margin: 0px;
    height: 150px;
}

#divButtons {
    background-color: #dddddd;
}
#divButtons a {
    font-size: 13pt;
    color: white !important;
    font-weight: bold;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 5%;
    opacity: 0.7;
}

#footer a {
    margin-right: 2mm;
}


/* Ansicht für Tablets */
@media screen and (min-width: 38.75em) {
    #sayThis {
        box-sizing: border-box;
        padding: 10px;
        font-size: 400%;
        height: 250px;
    }

    #footer {
        position: fixed;
        bottom: 10px;
        left: 10%;
        opacity: 0.7;
    }

    #footer a {
        margin-right: 1cm;
    }

    #divButtons a {
        font-size: 23pt;
    }


}

/* Ansicht für Desktop-Monitore */
@media screen and (min-width: 45em) {
}

@media only screen
and (min-device-width: 321px) {

}





