<!DOCTYPE HTML>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, user-scalable=no"/>

    <meta property="og:image" content="http://letmesayit.org/site_preview.png"/>
    <meta property="og:image:width" content="1043"/>
    <meta property="og:image:height" content="525"/>

    <meta property="og:title" content="Let me say it! Your browser speaks for you."/>
    <meta property="og:description"
          content="Type some text and let your browser do the talking. Very handy for people with speech disabilities. Works on tablets, smart phones and computers."/>

    <title>Let me say it! Your browser speaks for you.</title>


    <!--
    Touch Icon Generator BY daik.de
    http://www.web-stuebchen.de
    Lizenz: GNU General Public License
    Copyright: 2014 - 2017 Stephan Heller [daik.de] <heller@daik.de>
-->
    <link rel="shortcut icon" type="image/x-icon" href="/_icons/favicon.ico">
    <link rel="icon" type="image/x-icon" href="/_icons/favicon.ico">
    <link rel="icon" type="image/gif" href="/_icons/favicon.gif">
    <link rel="icon" type="image/png" href="/_icons/favicon.png">
    <link rel="apple-touch-icon" href="/_icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" href="/_icons/apple-touch-icon-57x57.png" sizes="57x57">
    <link rel="apple-touch-icon" href="/_icons/apple-touch-icon-60x60.png" sizes="60x60">
    <link rel="apple-touch-icon" href="/_icons/apple-touch-icon-72x72.png" sizes="72x72">
    <link rel="apple-touch-icon" href="/_icons/apple-touch-icon-76x76.png" sizes="76x76">
    <link rel="apple-touch-icon" href="/_icons/apple-touch-icon-114x114.png" sizes="114x114">
    <link rel="apple-touch-icon" href="/_icons/apple-touch-icon-120x120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="/_icons/apple-touch-icon-128x128.png" sizes="128x128">
    <link rel="apple-touch-icon" href="/_icons/apple-touch-icon-144x144.png" sizes="144x144">
    <link rel="apple-touch-icon" href="/_icons/apple-touch-icon-152x152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="/_icons/apple-touch-icon-180x180.png" sizes="180x180">
    <link rel="apple-touch-icon" href="/_icons/apple-touch-icon-precomposed.png">
    <link rel="icon" type="image/png" href="/_icons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/_icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/_icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/_icons/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/_icons/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/_icons/favicon-196x196.png" sizes="196x196">
    <meta name="msapplication-TileImage" content="/_icons/win8-tile-144x144.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-navbutton-color" content="#ffffff">
    <meta name="application-name" content="LetMeSayIt"/>
    <meta name="msapplication-tooltip" content="LetMeSayIt"/>
    <meta name="apple-mobile-web-app-title" content="LetMeSayIt"/>
    <meta name="msapplication-square70x70logo" content="/_icons/win8-tile-70x70.png">
    <meta name="msapplication-square144x144logo" content="/_icons/win8-tile-144x144.png">
    <meta name="msapplication-square150x150logo" content="/_icons/win8-tile-150x150.png">
    <meta name="msapplication-wide310x150logo" content="/_icons/win8-tile-310x150.png">
    <meta name="msapplication-square310x310logo" content="/_icons/win8-tile-310x310.png">


    <link rel="stylesheet" href="style/style.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">


    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.min.css">


</head>
<body>

<div id="app">

<!--
    <div class="row" style="display: none;">
        <div class="small-12 medium-12 large-12 columns">
            <textarea type="text" id="sayThis" v-model="sayThis" rows="2" placeholder="hier schreiben..."></textarea>
        </div>
        <div class="small-12 wmedium-2 wlarge-1 columns">
            <div id="divButtonsXX" class="button-group">
                <a class="large success button noselect" @click="talk()" v-bind:disabled="buttonsDisabled"><i
                        class="icon-comment-alt icon-3x"></i></a>
                <a class="large warning button noselect" @click="edit()" v-bind:disabled="buttonsDisabled"><i
                        class="icon-edit icon-3x"></i></a>
                <a class="large alert button noselect" @click="clearInput()" v-bind:disabled="buttonsDisabled"><i
                        class="icon-trash icon-3x"></i></a>
            </div>
        </div>

    </div>
-->


    <div>
        <div id="textarea">
            <textarea v-show="!settingsVisible" type="text" id="sayThis" v-model="sayThis" rows="2" placeholder="hier schreiben..."></textarea>
        </div>

        <!-- #####################  Buttons ###################### -->
        <div>
            <div id="divButtons" class="button-group">

                <a id="btnTalk" v-show="!settingsVisible" class="large success button noselect" @click="talk()" v-bind:disabled="buttonsDisabled"><i
                        class="icon-comment-alt icon-3x"></i></a>
                <a id="btnEdit" v-show="!settingsVisible" class="large warning button noselect" @click="edit()" v-bind:disabled="buttonsDisabled"><i
                        class="icon-edit icon-3x"></i></a>
                <a id="btnClear" v-show="!settingsVisible" class="large alert button noselect" @click="clearInput()" v-bind:disabled="buttonsDisabled"><i
                        class="icon-trash icon-3x"></i></a>

                <a id="btnSettings" class="hollow large button noselect" @click="settings()" v-bind:disabled="buttonsDisabled" v-show="localVoices.length>0"><i
                        class="icon-cogs icon-3x" ></i></a>
            </div>
        </div>


    </div>
    <!--
    <div v-cloak>activeVoiceName: {{ activeVoiceName }}</div>
    <span>Selected: {{ xx.length }}</span>
-->

    <div style="width: 100%;">
        <form id="settings" v-show="settingsVisible">
            <div class="row">
                <div class="medium-6 columns" id="voiceListContainer" v-show="localVoices.length>0">
                    <label><b>Stimme</b>
                        <!--<input style="margin: 0; margin-left: 1cm;" id="filter_voices" value="de" type="checkbox"/> nur deutsche Stimmen-->
                        <select v-model="selectedVoice">
                            <!--<option value="null">Standard</option>-->
                            <option v-for="voice in localVoices" v-bind:value="voice.name">
                                {{ voice.lang + ' ' + voice.name }}
                            </option>
                        </select>
                    </label>
                </div>
            </div>
        </form>
    </div>



    <!-- #####################  Kategorien ###################### -->




    <!-- #####################  Footer ###################### -->
    <div id="footer">
        <span v-text="localVoices.length" id="voicesLengthDebug"></span>
        <a href="impressum.html">Impressum</a>
        <a href="datenschutz.html">Datenschutz</a>
        <a href="https://github.com/sebeichholz/letmesayit" target="_blank">Source Code</a>
        <a href="https://www.facebook.com/LetMeSayIt.org/" target="_blank"><img src="_icons/FB-f-Logo__blue_29.png" border="0"/></a>
    </div>

</div>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!--<script src="https://unpkg.com/vue/dist/vue.min.js"></script>-->
<script src="script/modernizr-speechsynthesis.js"></script>
<script src="script/index.js"></script>
<!--<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/js/foundation.min.js"></script>-->


</body>
</html>